.pokemonListWrapper {
  margin: 1rem auto;
  display: grid;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: larger;
}
.pokemonList {
  margin-top: 1rem;
}

#listTitle {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}
